<div id="delSenders">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">IP Address</label>
                <input type="sender" class="form-control" id="ip" placeholder="192.168.1.1">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Bandwidth</label>
                <input type="sender" class="form-control" id="bandwidth" placeholder="2750 = 2.75Gbps">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Bandwidth Type</label>
                <input type="sender" class="form-control" id="bwType" placeholder="Typically it's m">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Source IP</label>
                <input type="sender" class="form-control" id="sourceIP" placeholder="192.168.1.1">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Destination IP</label>
                <input type="sender" class="form-control" id="destinationIP" placeholder="224.1.1.1">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Incoming Interface ID</label>
                <input type="sender" class="form-control" id="destinationIP" placeholder="001c.738d.1569-Ethernet5">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3">
                <label for="ipInput" class="form-label">Tracking ID</label>
                <input type="sender" class="form-control" id="trackingID" placeholder="123456789">
            </div>
        </li>
    </ul>
</div>