<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <title>RNN Engineering</title>

</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">Engineering Page for ENPS Open API activity
    <!-- <h1 id="header">Material ID Page</h1>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <h3>
          <div class="btn btn-danger" id="findMOS" onclick="findMOS('P_LIFIOS\\')">Long Island</div>
        </h3>
      </li>
      <li role="presentation">
        <h3>
          <div class="btn btn-danger" onclick="findMOS('P_NJFIOS\\')">New Jersey</div>
        </h3>
      </li>
      <li role="presentation">
        <h3>
          <div class="btn btn-danger" onclick="findMOS('P_HVFIOS\\')">Hudson Valley</div>
        </h3>
      </li>
    </ul>
    <div class="panel panel-default" id="listData">
    </div>
    <div id="loader"></div> -->
  </div>
</body>

</html>
