<html lang="en">
<head>

  <% include ../partials/head %>
</head>
<body>


<div id="container" class = "row">
  <h1 id="intro">Scarlet Witch</h1>
	<form action = "/login" method="POST" class=".temp123">
		<div class ="row">
			<div class="input-field">
				<input type="password" id="password" name="password" placeholder="password"/>
			</div>
			<input id="submit" class="waves-effect waves-teal btn-flat" type="submit" value="login"/>
		</div>


	</form>
</div>
</body>
</html>
