<html lang="en">

<head>
  <% include ../partials/head %>
  <script type="text/javascript" src="../js/lookup.min.js"></script>
  <title>Download Rundowns and Planning Grids</title>
</head>

<body>
  <div class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <h3>Select Date then Click</h3>
      <div id="page">
            <div class='col-md-3'>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' id="theDate" class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
                <button type="submit" class="btn btn-primary" id="submit-grid">Get Planning Grid</button>
                <!-- <button type="submit" class="btn btn-primary" id="submit-ro">Get Rundowns</button> -->
              </div>
            <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({ format: 'YY-MM-DD'});
              });
            </script>
          </div>
        </div>
    </main>
  </div>
</body>

</html>
