.jumbotron {
  background-color: rgba(64, 68, 69, 0.75);
  border-style: solid;
  border-radius: 10px;
  border-color: #b41031;
  text-align: center;
  color: #afafaf;
}

.jumbotron h1 {
  text-shadow: 5px 5px rgba(255, 0, 0, 0.5);
}
