/* Created by Jonathan Ferraro */
/* The CSS code here determines the base styling for the whole page, and the "Listener Metrics" panel */
body {
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  background-color: #1e1e1e;
}

.navbar, #homepage-panel, #total-radio, #total-watch, #total-play, #linear-event-table, #radio-pb, #uplynk-pb  {
  background-color: rgba(64, 68, 69, 0.75);
  border-style: solid;
  border-color: #afafaf;
  text-align: center;
  color: #afafaf;
}

#homepage-panel h1 {
  font-size: 50px;
  text-shadow: 5px 5px rgba(255, 0, 0, 0.5);
  margin-top: 10%;
  margin-bottom: 3%;
}

#homepage-panel p {
  margin-bottom: 10%;
  font-size: 17px;
}
td, #open-panel
{
  background-color: #232323;
  border-color: #b41031;
  color: #afafaf;
}

th, button, #submit-search, #submit-reset, #dropdownMenu1
{
  background-color: #afafaf;
  color: #232323;
}

button:hover, #submitComment:hover, #submit-search:hover, #submit-reset:hover, #dropdownMenu1 li a:hover {
  background-color: #232323;
  color: #afafaf;
}

.datepicker {
  background-color: #232323;
}

td a {
  text-decoration: underline;
}

td a:hover {
  text-decoration: none;
  color: #afafaf;
}

.yellowalert {
  color: #090506;
  background-color: #a3a80f;
}

.orangealert {
  color: white;
  background-color: #ff9721;
}

.redalert {
  color: white;
  background-color: #b41031;
}

.greenalert {
  color: white;
  background-color: #069608;
}

.bluealert {
  color: white;
  background-color: #2c21ff;
}

.fiddy {
  color: #a3a80f;
  border-color: #a3a80f;
}

.hundy {
  color: #b41031;
  border-color: #b41031;
}

.fiddy-hundy {
  color: #b41031;
  border-color: #b41031;
  background-color: #090506;
}

.one-mil {
  color: #090506;
  border-color: #090506;
  background-color: #b41031;
}

.event-neutral {
  /* Class turns orange using btn-warning*/
  color: #2c21ff;
}

.event-replay {
  /* Class turns orange using btn-warning*/
  color: #ff9721;
}

.event-upcoming {
  /* Class turns yellow using btn-warning*/
  color: #a3a80f;
}

.event-live {
  /* Class turns green using btn-success*/
  color: #069608;
}

form {
  margin: 1%;
}

label {
  padding: 1%;
}
