<!-- views/pages/mcs.ejs -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('partials/head-offline'); %>
    <title>Do the MCS Things</title>
</head>

<body class="container">

    <header>
        <div class="panel panel-default">
            <h2>Let's Mess around with CVX with tons of consequences</h2>
            <h3>by Jonathan Ferraro</h3>
        </div>
    </header>

    <main>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              What do you want to do? 
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Delete Senders</a></li>
              <li><a class="dropdown-item" href="#">Modify Sender Bandwidth</a></li>
              <li><a class="dropdown-item" href="#">Add Senders</a></li>
            </ul>
          </div>
    </main>

    <footer>
        
    </footer>

</body>
</html>
